$black: #000000;

$primary-font: #F0F0F0;
$secondary-font: #969696;

$primary-grey: #323232;
$primary-blue: #0092CC;
$primary-red: #FF3333;
$primary-yellow: #DCD427;
$primary-green: #779933;

$base-grey: #282828;
$base-blue: #087099;
$base-red: #CC3333;
$base-yellow: #B7B327;
$base-green: #5C7829;
